*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    background:url('myown.jpg');
}

.header{
    background:transparent;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:30%;
    height:400px;
    border:15px solid rgb(2, 2, 39);
}

.main{
    background:rgb(15, 15, 68);
    height:100%;
    width:100%;
    border-top:9px solid transparent; 
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:9px solid transparent;
}

#date{
    width:100%;
    height:30%;
    border-top:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:35px;
    text-align:center;
    padding:20px;
    font-weight:bold;
}


#time{
    width:100%;
    height:60%;
    border-bottom:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:55px;
    text-align:center;
    padding:60px 20px;
    font-weight:bold;
    line-height:80px;
    text-shadow:2px 2px #00ff00;
}

span{
    font-size:30px;
    margin-left:25px;
}

.design{
    width:50%;
    background:#00ff00;
    color:red;
    border-radius:25px;
    text-align:center;
    padding:5px;
    font-weight:bold;
}

.smiley{
    width:62%;
    height:50px;
    margin-top:-60px;
}

.info{
    background:rgb(2, 2, 39);
    font-size:12px;
    color:#00ff00;
    height:30px;
}

marquee span{
    font-size:15px;
    color:rgb(240, 15, 210);
    font-family:cursive;
    padding:10px;
    text-shadow:1px 1px white;
}


/* ========THE SECTION OF THE MEDIA QUERY========== */

@media screen and (max-width:320px){

    *{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    background:url('myown.jpg');
}

.header{
    background:transparent;
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80%;
    height:300px;
    border:15px solid rgb(2, 2, 39);
}

.main{
    background:rgb(15, 15, 68);
    height:100%;
    width:100%;
    border-top:9px solid transparent; 
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:9px solid transparent;
}

#date{
    width:100%;
    height:30%;
    border-top:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:18px;
    text-align:center;
    padding:20px;
    font-weight:bold;
}


#time{
    width:100%;
    height:60%;
    border-bottom:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:29px;
    text-align:center;
    padding:20px 20px;
    font-weight:bold;
    line-height:80px;
    text-shadow:1px 1px #00ff00;
}

span{
    font-size:20px;
    margin-left:0px;
}

.design{
    width:50%;
    background:#00ff00;
    color:red;
    border-radius:25px;
    text-align:center;
    padding:5px;
    font-weight:bold;
}

.smiley{
    width:62%;
    height:50px;
    margin-top:-50px;
/*     background:red; */
}

.info{
    background:rgb(2, 2, 39);
    font-size:12px;
    color:#00ff00;
    height:30px;
}

marquee span{
    font-size:15px;
    color:rgb(240, 15, 210);
    font-family:cursive;
    padding:10px;
    text-shadow:1px 1px white;
}    
}





/* ========THE SECTION OF THE MEDIA QUERY========== */

@media screen and (max-width:375px) and (min-width:321px){

    *{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    background:url('myown.jpg');
}

.header{
    background:transparent;
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    height:350px;
    border:15px solid rgb(2, 2, 39);
}

.main{
    background:rgb(15, 15, 68);
    height:100%;
    width:100%;
    border-top:9px solid transparent; 
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:9px solid transparent;
}

#date{
    width:100%;
    height:30%;
    border-top:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:25px;
    text-align:center;
    padding:20px;
    font-weight:bold;
}


#time{
    width:100%;
    height:60%;
    border-bottom:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:40px;
    text-align:center;
    padding:40px 0px;
    font-weight:bold;
    line-height:80px;
    text-shadow:1px 1px #00ff00;
}

span{
    font-size:25px;
    margin-left:0px;
}

.design{
    width:50%;
    background:#00ff00;
    color:red;
    border-radius:25px;
    text-align:center;
    padding:5px;
    font-weight:bold;
}

.smiley{
    width:62%;
    height:50px;
    margin-top:-50px;
/*     background:red; */
}

.info{
    background:rgb(2, 2, 39);
    font-size:12px;
    color:#00ff00;
    height:30px;
}

marquee span{
    font-size:15px;
    color:rgb(240, 15, 210);
    font-family:cursive;
    padding:10px;
    text-shadow:1px 1px white;
}   
    
}






/* ========THE SECTION OF THE MEDIA QUERY========== */

@media screen and (max-width:425px) and (min-width:376px){

    *{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    background:url('myown.jpg');
}

.header{
    background:transparent;
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    height:350px;
    border:15px solid rgb(2, 2, 39);
}

.main{
    background:rgb(15, 15, 68);
    height:100%;
    width:100%;
    border-top:9px solid transparent; 
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:9px solid transparent;
}

#date{
    width:100%;
    height:30%;
    border-top:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:25px;
    text-align:center;
    padding:20px;
    font-weight:bold;
}


#time{
    width:100%;
    height:60%;
    border-bottom:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:40px;
    text-align:center;
    padding:40px 20px;
    font-weight:bold;
    line-height:80px;
    text-shadow:1px 1px #00ff00;
}
span{
    font-size:25px;
    margin-left:0px;
}

.design{
    width:50%;
    background:#00ff00;
    color:red;
    border-radius:25px;
    text-align:center;
    padding:5px;
    font-weight:bold;
}

.smiley{
    width:62%;
    height:50px;
    margin-top:-50px;
/*     background:red; */
}

.info{
    background:rgb(2, 2, 39);
    font-size:12px;
    color:#00ff00;
    height:30px;
}

marquee span{
    font-size:15px;
    color:rgb(240, 15, 210);
    font-family:cursive;
    padding:10px;
    text-shadow:1px 1px white;
}
    
}








/* ========THE SECTION OF THE MEDIA QUERY========== */

@media screen and (max-width:540px) and (min-width:426px){

    *{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    background:url('myown.jpg');
}

.header{
    background:transparent;
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    height:400px;
    border:15px solid rgb(2, 2, 39);
}

.main{
    background:rgb(15, 15, 68);
    height:100%;
    width:100%;
    border-top:9px solid transparent; 
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:9px solid transparent;
}

#date{
    width:100%;
    height:30%;
    border-top:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:30px;
    text-align:center;
    padding:20px;
    font-weight:bold;
}


#time{
    width:100%;
    height:60%;
    border-bottom:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:55px;
    text-align:center;
    padding:60px 20px;
    font-weight:bold;
    line-height:80px;
    text-shadow:1px 1px #00ff00;
}

span{
    font-size:25px;
    margin-left:0px;
}

.design{
    width:50%;
    background:#00ff00;
    color:red;
    border-radius:25px;
    text-align:center;
    padding:5px;
    font-weight:bold;
}

.smiley{
    width:62%;
    height:50px;
    margin-top:-50px;
/*     background:red; */
}

.info{
    background:rgb(2, 2, 39);
    font-size:12px;
    color:#00ff00;
    height:30px;
}

marquee span{
    font-size:15px;
    color:rgb(240, 15, 210);
    font-family:cursive;
    padding:10px;
    text-shadow:1px 1px white;
}
}







/* ========THE SECTION OF THE MEDIA QUERY========== */

@media screen and (max-width:768px) and (min-width:541px){

    *{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    background:url('myown.jpg');
}

.header{
    background:transparent;
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    height:400px;
    border:15px solid rgb(2, 2, 39);
}

.main{
    background:rgb(15, 15, 68);
    height:100%;
    width:100%;
    border-top:9px solid transparent; 
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:9px solid transparent;
}

#date{
    width:100%;
    height:30%;
    border-top:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:45px;
    text-align:center;
    padding:20px;
    font-weight:bold;
}


#time{
    width:100%;
    height:60%;
    border-bottom:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:70px;
    text-align:center;
    padding:60px 20px;
    font-weight:bold;
    line-height:80px;
    text-shadow:1px 1px #00ff00;
}

span{
    font-size:25px;
    margin-left:0px;
}

.design{
    width:50%;
    background:#00ff00;
    color:red;
    border-radius:25px;
    text-align:center;
    padding:5px;
    font-weight:bold;
}

.smiley{
    width:62%;
    height:50px;
    margin-top:-50px;
/*     background:red; */
}

.info{
    background:rgb(2, 2, 39);
    font-size:12px;
    color:#00ff00;
    height:30px;
}

marquee span{
    font-size:15px;
    color:rgb(240, 15, 210);
    font-family:cursive;
    padding:10px;
    text-shadow:1px 1px white;
}
}






/* ========THE SECTION OF THE MEDIA QUERY========== */

@media screen and (max-width:1024px) and (min-width:769px){

    *{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body{
    background:url('myown.jpg');
}

.header{
    background:transparent;
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%,-50%);
    width:90%;
    height:450px;
    border:15px solid rgb(2, 2, 39);
}

.main{
    background:rgb(15, 15, 68);
    height:100%;
    width:100%;
    border-top:9px solid transparent; 
    border-left:9px solid transparent;
    border-right:9px solid transparent;
    border-bottom:9px solid transparent;
}

#date{
    width:100%;
    height:30%;
    border-top:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:45px;
    text-align:center;
    padding:20px;
    font-weight:bold;
}


#time{
    width:100%;
    height:60%;
    border-bottom:3px solid #00ff00;
    border-left:3px solid #00ff00;
    border-right:3px solid #00ff00;
    border-radius:25px;
    color:white;
    font-family:monospace;
    font-size:70px;
    text-align:center;
    padding:60px 20px;
    font-weight:bold;
    line-height:80px;
    text-shadow:1px 1px #00ff00;
}

span{
    font-size:35px;
    margin-left:0px;
}

.design{
    width:50%;
    background:#00ff00;
    color:red;
    border-radius:25px;
    text-align:center;
    padding:5px;
    font-weight:bold;
}

.smiley{
    width:62%;
    height:50px;
    margin-top:-60px;
/*     background:red; */
}

.info{
    background:rgb(2, 2, 39);
    font-size:12px;
    color:#00ff00;
    height:30px;
}

marquee span{
    font-size:18px;
    color:rgb(240, 15, 210);
    font-family:cursive;
    padding:10px;
    text-shadow:1px 1px white;
}
    
}